<div>
  <form [formGroup]="communicationForm" (ngSubmit)="sendRequest()" (ngReset)="clearForm()">
    <fieldset formGroupName="origin">
      <div class="form-group">
        <input placeholder="Start location" spellcheck="false" autocomplete="false" type="text" class="form-control"
               formControlName="name" id="origin" (focus)="autoCompleter($event)">
      </div>
    </fieldset>

    <fieldset formGroupName="destination">
      <div class="form-group">
        <input placeholder="Destination location" spellcheck="false" autocomplete="false" type="text"
               class="form-control" formControlName="name" id="destination" (focus)="autoCompleter($event)">
      </div>
    </fieldset>

    <div class="form-group">
      <textarea placeholder="Extra information about the route/communication with the route owner" class="form-control"
      formControlName="comment"></textarea>
    </div>
    <button type="submit">Send request</button>
    <button type="reset">Clear form</button>
  </form>
</div>
