mat-icon {
  margin: 0 12px 0 0;
}

button {
  margin: 0 12px;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.span-spacer {
  flex: 1 1 auto;
}

.error-div {
  color: red;
}
