  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Firstname" formControlName="firstName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="Lastname" formControlName="lastName">
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit" color="primary">Register</button>
    <div *ngIf="invalidRegister" class="error">
      <div>Invalid credentials.</div>
    </div>
  </form>
