<h1>Profile</h1>
<form [formGroup]="profileForm">
  <div class="horizontal-card-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Credentials</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Email address</mat-label>
            <input matInput type="email" formControlName="email" [readonly]="isReading">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" [readonly]="isReading">
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>General</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="name">
          <div>
            <mat-form-field>
              <mat-label>Firstname</mat-label>
              <input matInput type="text" formControlName="firstName">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Lastname</mat-label>
              <input matInput type="text" formControlName="lastName">
            </mat-form-field>
          </div>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age">
          </mat-form-field>
        </div>

        <div class="spacer-between-radioGroups">
          <mat-label>Smoker</mat-label>
          <br/>
          <mat-radio-group formControlName="smoker">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <mat-label>Gender</mat-label>
          <br/>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="MALE">Male</mat-radio-button>
            <mat-radio-button value="FEMALE">Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="address">
          <div>
            <mat-form-field>
              <mat-label>Streetname</mat-label>
              <input matInput type="text" formControlName="street">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Streetnumber</mat-label>
              <input matInput type="number" formControlName="streetNumber">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Zipcode</mat-label>
              <input matInput type="number" formControlName="zipCode">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput type="text" formControlName="city">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Vehicle</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="vehicle">
          <div>
            <mat-form-field>
              <mat-label>Make</mat-label>
              <input matInput type="text" formControlName="brand">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let key of keys" [value]="key">{{key}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Fuel consumption</mat-label>
              <input matInput type="number" formControlName="fuelConsumption">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Max passengers</mat-label>
              <input matInput type="number" formControlName="numberOfPassengers">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="actionButtons">
    <button mat-raised-button [color]="isReading?'primary':'warn'" (click)="enableEditing()">
      {{isReading?'Editprofile':'Cancel editing'}}
    </button>
    <button mat-raised-button color="primary" (click)="updateUser()" type="submit" *ngIf="!isReading">Update</button>
    <p class="largerP">{{message}}</p>
  </div>
</form>
