<div>
  <button (click)="showSpecificRoutes('myRoutes')">My routes</button>
  <button (click)="showSpecificRoutes('allRoutes')">All routes</button>
  <button (click)="showSpecificRoutes('searchRoutes')">Search routes</button>
</div>
<div [ngSwitch]="routesToShow">
  <div *ngSwitchCase="'myRoutes'">
    <app-route-myroutes [receivedRoutes]="myRoutes" (routeChanged)="onRoutesChanged($event)" (currentChildRoute)="onRouteChanged($event)"></app-route-myroutes>
  </div>

  <div *ngSwitchCase="'allRoutes'">
    <app-route-detail [receivedRoutes]="allReceivedRoutes" (routeChanged)="onRoutesChanged($event)" (currentChildRoute)="onRouteChanged($event)"></app-route-detail>
  </div>

  <div *ngSwitchCase="'searchRoutes'">
    <form [formGroup]="simpleSearchForm">
      <fieldset formGroupName="origin">
        <div class="form-group">
          <input placeholder="Start location" spellcheck="false" autocomplete="false" type="text" class="form-control"
                 formControlName="name" id="origin" (focus)="autoCompleter($event)">
        </div>
      </fieldset>

      <fieldset formGroupName="destination">
        <div class="form-group">
          <input placeholder="Destination location" spellcheck="false" autocomplete="false" type="text"
                 class="form-control" formControlName="name" id="destination" (focus)="autoCompleter($event)">
        </div>
      </fieldset>
      <button type="button" (click)="swapLocations()">Swap locations</button>
      <div class="form-group">
        <input placeholder="Distance near locations" spellcheck="false" autocomplete="false" type="number"
               class="form-control" formControlName="distance" id="distance">
      </div>
    </form>
    <button (click)="enableAdvancedForm()">Advanced options</button>
    <div *ngIf="advancedSearch">
      <form [formGroup]="advancedSearchForm">
          <div class="form-group">
            <input type="datetime-local" class="form-control" formControlName="minDateTime">
          </div>
          <div class="form-group">
            <input type="datetime-local" class="form-control" formControlName="maxDateTime">
          </div>
        <div class="form-group">
          <label for="genderMale">Gender of driver:</label>
          <input type="radio" class="form-control" formControlName="gender" id="genderMale" value="OPTION1"> Male
          <input type="radio" class="form-control" formControlName="gender" id="genderFemale" value="OPTION2"> Female
          <input type="radio" class="form-control" formControlName="gender" id="genderEither" value="EITHER"> Either (Don't care)
        </div>
        <div class="form-group">
          <label for="smokerYes">Driver may smoke:</label>
          <input type="radio" class="form-control" formControlName="smoker" id="smokerYes" value="OPTION1"> Yes
          <input type="radio" class="form-control" formControlName="smoker" id="smokerNo" value="OPTION2"> No
          <input type="radio" class="form-control" formControlName="smoker" id="smokerEither" value="EITHER"> Either (Don't care)
        </div>
      </form>
    </div>
    <button (click)="log()">Log form data</button>
    <button (click)="findRoute()">Find route</button>
    <app-route-detail *ngIf="searchRoutes" [receivedRoutes]="searchRoutes"
                      (routeChanged)="onRoutesChanged($event)" (currentChildRoute)="onRouteChanged($event)"></app-route-detail>
  </div>

</div>
<div *ngIf="currentRoute">
  <!--<app-route-detail [receivedRoute]="currentRoute" (routeChanged)="onRouteChanged($event)"></app-route-detail>-->
</div>
