<h1>Route finder</h1>
<mat-tab-group [selectedIndex]="1" (selectedIndexChange)="allRoutesTabClicked($event)">
  <mat-tab label="My routes">
    <app-route-myroutes [receivedRoutes]="myRoutes" [isGuestUser]="isGuestUser" (routeChanged)="onRoutesChanged($event)" (currentChildRoute)="onRouteChanged($event)"></app-route-myroutes>
  </mat-tab>
  <mat-tab label="All routes">
    <app-empty-state *ngIf="allReceivedRoutes.length == 0" [message]="emptyStateMessage"></app-empty-state>
    <app-route-detail *ngIf="allReceivedRoutes.length !== 0" [receivedRoutes]="allReceivedRoutes" [isGuestUser]="isGuestUser" (routeChanged)="onRoutesChanged($event)" (currentChildRoute)="onRouteChanged($event)"></app-route-detail>
  </mat-tab>
  <mat-tab label="Search routes">
    <app-route-searcher (routeChanged)="onRoutesChanged($event)" (currentChildRoute)="onRouteChanged($event)"></app-route-searcher>
  </mat-tab>
</mat-tab-group>
