<div class="container">
  <h1>Route creator</h1>
  <form [formGroup]="routeForm">
    <fieldset formGroupName="origin">
      <div class="form-group">
        <input placeholder="Start location" spellcheck="false" autocomplete="false" type="text" class="form-control"
               formControlName="name" id="origin" (focus)="autoCompleter($event)">
      </div>
    </fieldset>

    <fieldset formGroupName="destination">
      <div class="form-group">
        <input placeholder="Destination location" spellcheck="false" autocomplete="false" type="text" class="form-control"
               formControlName="name" id="destination" (focus)="autoCompleter($event)">
      </div>
    </fieldset>
    <div class="form-group">
      <label for="routeSingle">Type of route:</label>
      <input type="radio" class="form-control" formControlName="routeType" id="routeSingle" name="routeType" value="SINGLE"> Single
      <input type="radio" class="form-control" formControlName="routeType" id="routeReturn" name="routeType" value="RETURN"> Return
    </div>
    <div formArrayName="waypoints">
      <label>Waypoints</label>
      <div [formGroupName]="i" *ngFor="let wp of routeForm.controls.waypoints.controls; let i = index">
        <div class="form-control">
          <label>{{i + 1}}: </label>
          <input #waypoint placeholder="Waypoint location" spellcheck="false" type="text" class="form-control"
                 formControlName="name" [id]="'wp.' + i" (click)="autoCompleter($event)">
          <button *ngIf="routeForm.controls.waypoints.length > 1" (focus)="removeWaypoint(i)">Remove</button>
        </div>
      </div>
      <button (click)="createWaypoint()">Add new waypoint</button>
    </div>
    <button (click)="createRoute()">Make route</button>
    <button (click)="clearRoute()">Clear route</button>
  </form>

  <button (click)="changeMapLayerToTraffic()">Show traffic</button>
  <agm-map [latitude]="home.lat" [longitude]="home.lng" [zoom]="17" [scrollwheel]="false" (mapReady)="onMapReady($event)">
    <agm-marker [latitude]="home.lat" [longitude]="home.lng">
      <agm-info-window [isOpen]="true">You are here</agm-info-window>
    </agm-marker>
    <agm-direction *ngIf="completeRoute === true"
                   [origin]="routeDefinition.origin"
                   [destination]="routeDefinition.destination"
                   [waypoints]="routeDefinition.waypoints"
                   [panel]="myPanel">
    </agm-direction>
  </agm-map>
</div>
<div #myPanel>

</div>
